{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Produto</title>
</head>

<body class="bg-gray-300">

    <nav class="menu">
        <a href="#">Produto</a>
    </nav>



    <div x-data="getItems" class="m-8 flex justify-center">

        <!-- Div para imagem do produto -->
        <!-- img inicio -->
        <div class="w-72 h-72 m-8">
            <img id="imgChange" class="rounded-lg"
                :src="'{{ request.scheme }}://{{ request.get_host }}/' + product.image[0].image"
                x-bind:alt="product.name">
        </div>
        <!-- img fim -->

        <template x-for="product in filteredItems" :key="product.id">

            <!-- Div para detalhes do produto -->
            <div>

                <!-- Nome do produto -->
                <h2 class="font-bold text-lg" x-text="product.name"></h2>

                <!-- Preço -->
                <p class="pt-4">Preço: <span x-text="product.price"></span></p>

                <!-- Gera os botoes de cores -->
                <h3 class="text-lg mt-8">Cor</h3>
                <div class="flex gap-2 mt-4">
                    <template x-for="color in product.colors">
                        <div x-on:click.toggle="isSizeVisible = !isSizeVisible">
                            <a href="#">
                                <div id="color" class="w-10 h-10 rounded-full hover:right hover:ring-4 hover:ring-black"
                                    :class="'bg-'+color.color+'-600'"></div>
                            </a>
                        </div>
                    </template>
                </div>
                <!-- Gera os botoes de tamanhos(size) -->
                <div class="flex gap-2 mt-4">
                    <template x-for="size in product.size">
                        <div @click="getProduct(size, product.id)" id="size"
                            class="pt-2 text-white bg-gray-500 hover:bg-gray-800 w-10 h-10 rounded-xl text-center"
                            x-text="size.size" x-on:click="selectedSize = size; isSizeVisible = false;"></div>
                    </template>
                </div>
            </div>
        </template>
    </div>


    </div>

    <script src="{% static 'js/product.js' %}"></script>
</body>

</html>