{% extends "base.html" %}
{% load static %}

{% block content %}
    <div x-data="getItems">
        <div class="m-8 flex flex-row justify-center">
            <div class="flex flex-col">
                <!-- Div para imagem do produto -->
                <div class="w-72 h-72 m-8">
                    <img class="rounded-lg" :src="currentImage.image">
                </div>
                <!-- img fim -->
            </div>
            <div class="flex flex-col justify-items-center">

                <div class="flex flex-row">
                    <div>
                        <!-- Div para detalhes do produto -->
                        <div>
                            <!-- Nome do produto -->
                            <h2 class="font-bold text-lg">Nome</h2>
                            <!-- Preço -->
                            <p class="pt-4">Preço: <span>0,00</span></p>
                            <!-- Gera os botoes de cores -->
                            <h3 class="text-lg mt-8">Cor</h3>
                        </div>
                        <!-- Gera os botoes de tamanhos(size) -->
                    </div>
                </div>

                <div class="flex flex-row">
                    <div class="flex gap-2 mt-4">
                        <template x-for="color in colors">
                            <div>
                                <a href="#">
                                    <div id="color"
                                         class="w-10 h-10 rounded-full hover:right hover:ring-4 hover:ring-black"
                                         :class="color.color === 'black' ? 'bg-black' : 'bg-'+color.color+'-500'"
                                         @click="getSize(color.color)">
                                    </div>
                                </a>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex flex-row gap-2 mt-4">
                        <template x-for="size in sizes">
                            <!-- x-show="size.size.size" -->
                            <div id="size"
                                 class="pt-2 text-white bg-gray-500 hover:bg-gray-800 w-10 h-10 rounded-xl text-center"
                                 x-text="size.size" @click="getProductImage(size)">
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <!--Produtos Similares-->
        <div class="flex flex-row justify-center">
            <div class="w-1/3 m-4">
                <p class="flex justify-center font-bold text-lg">Produtos Similares</p>
            </div>
        </div>

        <div class="flex flex-row justify-center m-8">
            <div class="flex gap-2 mt-4">
                <template x-for="product in similarProducts">
                    <img class="rounded-lg produto-imagem" :src="product.image">
                    <p x-text="product.name"></p>
                </template>
            </div>
        </div>
        <!--Fim produtos similares-->
    </div>

    <div x-data="appProdutc">
        <!--Table Form Produtos-->
        <div class="flex flex-row justify-center">
            <form class="px-8">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Produto
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Quantidade
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Preço
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Adicionar
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <template x-for="p in listProducts">
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option selected>Selecione um produto</option>
                                        <template x-for="(product, index) in products"
                                                  :key="product.id">
                                            <option :value="product.id"
                                                    x-text="product.name"></option>
                                        </template>
                                    </select>
                                </th>
                                <td class="px-6 py-4">
                                    <input type="number" id="default-input"
                                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                </td>
                                <td class="px-6 py-4">
                                    <span x-text="product.price"></span>
                                </td>
                                <td class="px-6 py-4">
                                    <button type="button"
                                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                        Remover
                                    </button>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                    <div class="columns-3 mt-2">
                        <button type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="addRow">
                            Adicionar
                        </button>
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            Salvar
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/product.js' %}"></script>
{% endblock js %}